# Configuración de Base de Datos (Railway provee estas variables automáticamente si creas un servicio de Postgres)
DB_USER=
DB_HOST=
DB_NAME=
DB_PASSWORD=
DB_PORT=5432

# Puerto del servidor
PORT=3000

# URL del Frontend para CORS (Ejemplo: https://tu-app-frontend.vercel.app)
CORS_ORIGIN=
